/* ------------------ Main body and heading Styles ------------------ */

body {
    background-color: rgb(214, 224, 245);
}

.page-header {
  margin-left: 30%;
}

.chart-heading {
  color: #0000cd;
}

.time-heading {
  text-align: center;
}

.barLabel {
	font-size: 10px;
}

h4,
h3
 {
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
}

.container {
   border: solid 1px;
   margin-top: 40px;
   background-color: #f8f8ff;
}

/* ------------------ Button Styles ------------------ */

.btn-cta {
    font-weight: bold;
    font-size: small;
    border-radius: 20px;
    margin-right: 5px;
}

.btn-col {
    color: #000;
    background-color: #F9FBFC;
    border-color: #5768FF;
}

/* ------------------ Chart Filter Styles ------------------ */

.reset {
  text-align: right;
  color: #000;
}

.filter {
  text-align: right;
  color: #0000cd;
  font-weight: bolder;
  font-size: small;
}

.count {
  text-align: center;
  margin-left: 50px;
}

/* ------------------ Modal Styles ------------------ */

.mod-col {
  color: #0000cd;
}

.mod-head {
  text-decoration: underline;
  font-weight: bold;
}

/* ------------------ Table Scroll ------------------ */

.scrollable {
  height: 450px;
  overflow-y: scroll;
}
