body {
    background-color: rgb(214, 224, 245);
}

.scrollable {
  height: 450px;
  overflow-y: scroll;
}

.count {
  text-align: center;
  margin-left: 50px;
}

.dc-data-count {
 float: right;
 }



.dc-data-table {
  font-size: small;
  line-height: normal;
}

h4,
h3
 {
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
}

.dc-chart .axis path, .dc-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.dc-chart .axis text {
  font: 8px sans-serif; }

.dc-chart .grid-line, .dc-chart .axis .grid-line, .dc-chart .grid-line line, .dc-chart .axis .grid-line line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges; }

  .dc-chart g.row text {
  fill: #fff;
  font-size: 12px;
  cursor: pointer; }

  .dc-data-table {
  font-size: small;
  line-height: normal;

}

.container {
   border: solid 1px;
   margin-top: 40px;
   background-color: #f8f8ff;
}

.btn-cta {
    font-weight: bold;
    font-size: small;
    border-radius: 20px;

}

.btn-col {
    color: #000;
    background-color: #F9FBFC;
    border-color: #5768FF;
}

.line-section {
	padding-top: 5px;
	padding-bottom: 5px;

}

.barLabel {
	font-size: 10px;
}

.page-header {
  margin-left: 35%;

}

.time-heading {
  text-align: center;

}

.reset {
  text-align: right;
  color: #000;

}

.filter {
  text-align: right;
  color: #0000cd;
  font-weight: bolder;
  font-size: small;
}